.navbar {
    background-color: hsl(55, 22%, 69%);
}
.container-header {
    display: flex;
    align-items: center;  
    height: 80px;
    width: auto;
    margin-left: 15px;
}

.container-header:hover .logo-image {
    transform: rotate(45deg);
    cursor: pointer;
}

.logo-placement {
    color:  hsl(16, 52%, 28%);
    text-decoration: none;
    font-size: 35px;
    padding-top: 12px;
}

.logo-placement:hover {
    color:  hsl(16, 96%, 55%);
}

.logo-image {
    height: 50px;
    mix-blend-mode: multiply;
    margin-right: 10px;
}