body {
    height: 100vh;
    place-items: center;
}

.base-timer {
    height: 5vw;
    max-width: 50px;
    max-height: 50px; 
    position: relative;
    width: 5vw;  
}

.base-timer__svg {
    height: 100%;
    transform: scaleX(-1);
    width: 100%;
}

.base-timer__circle {
    fill: rgba(255, 255, 255, 0.466);
    stroke: none;
}

.base-timer__path-elapse {
    stroke: grey;
    stroke-width: 7px;
}

.base-timer__path-remaining {
    fill-rule: nonzero;
    transform: rotate(90deg);
    transform-origin: center;
    transition: 1s linear all;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: 7px;
}

.base-timer__path-remaining.green {
    color: rgb(65, 184, 131);
}

.base-timer__path-remaining.orange {
    color: orange;
}

.base-timer__path-remaining.red {
    color: red;
}

.base-timer__label {
    align-items: center;
    color: rgb(33, 218, 17);
    display: flex;
    font-weight: bold;
    font-size: 20px; 
    height: 100%;
    justify-content: center;
    left: 0;
    position: absolute;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    top: 0;
    width: 100%;
}