.login-body {
    width: 100%;
    height: 100%;
}



.form-container {
    display: flex;
    height: calc(100% - 13%);
    justify-content: center;
    align-content: center;
    position: absolute;
    padding: 20px;
    width: 100%;
}


.image-source img {
    /* width: 100%;
    height: auto;
    max-width: 100%;
    border-radius: 10px; */
}

label, .image-source, .something, .submit-button {
    /* width: 60%;
    max-width: 100%;
    margin: 10px; */

}

form {
    border: 1px solid green;
    border-radius: 10px;
    height: 450px;
    width: 350px;
    display: flex;
    flex-direction: column;
    margin: 10px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    background-color: hsl(197, 75%, 87%);
    box-shadow:rgba(7, 15, 9, 0.384) 0px 7px 29px 0px;
}

.form-input {
    text-align: left;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25px;
    margin: 10px;
    /* margin: 0 35px 10px 35px; */
    width: calc(100% - 20px);
    cursor: pointer;
    /* border: 1px solid red; */
}

label {
    /* border: 1px solid red; */
    /* width: 0; */

}

input {
    /* border: 1px solid purple; */ */
    border-radius: 5px;
    box-shadow:rgba(7, 15, 9, 0.384) 0px 7px 29px 0px;
    cursor: pointer;
    padding-left: 5px;
}
.submit-button {
    align-self: center;
    border-radius: 10px;
    box-shadow:rgba(7, 15, 9, 0.384) 0px 7px 29px 0px;
    cursor: pointer;
    font-size: 18px;
    font-weight: bold;
    margin-top: 15px;
    margin-left: 20px;
    width: 100px;
}

.submit-button:hover {
    background-color: hsl(187, 65%, 26%);
    box-shadow:rgba(23, 100, 110, 0.384) 0px 7px 29px 0px;
    transition-delay: 0.08s;
}

.register-div {
    /* display: flex; */
}

.register-switch {
    /* margin-bottom: 15px; */
}

.register-toggle {
    /* display: flex;
    align-self: center;
    font-weight: bold;
    width: 60px; */
}




/* @media (min-width: 768px) {
    .form-container, .navbar {
        width: 80%;
        max-width: 800px;

    }
}

@media (min-width: 1024px) {
    .form-container, .navbar {
        width: 70%;
        max-width: 900px; 
    }
}

@media (max-width: 480px) {
    .form-container {
        height: auto; 
        padding: 10px; 
    }

    .submit-button {
        width: auto; 
    }
} */

