.trivia-container {
    align-items: center;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    height: 81vh;
    justify-content: center;
    margin-top: 60px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
    width: 90%;
}

.trivia-game-boundaries {
    align-items: center;
    background-color: hsla(30, 4%, 9%, 0.089);
    border-radius: 10px;
    box-shadow:rgba(7, 15, 9, 0.384) 0px 7px 29px 0px;
    display: flex;
    flex-direction: column;
    height: 71vh;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    position: relative;
    width: 90%;
}

.background-video {
    height: 100%;
    left: 0;
    object-fit: cover;
    position: absolute;
    top: 0;
    width: 100%;
    z-index: -1;
}

.trivia-app {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-around; 
    margin-top: 70px;
    max-width: 600px;
    width: 100%;
    z-index: 5;
}

.timer {
    align-items: center;
    display: flex;
    font-weight: bold;
    justify-content: center;
    width: 80px;
    color: rgb(252, 203, 44);
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    
}

.trivia-title {
    align-items: center;
    background-color: rgba(193, 190, 159, 0.726);
    border-radius: 20px;
    box-shadow:rgba(14, 152, 231, 0.555) 0px 7px 29px 0px;
    color: hsl(16, 52%, 28%);
    display: flex;
    font-size: 24px;
    justify-content: center;
    text-align: center;
    width: 250px;
}

.score {
    align-items: center;
    display: flex;
    color: rgb(252, 203, 44);
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    font-size: 30px;
    font-weight: bold;
    height: 50px;
    justify-content: center;
    width: 50px;
}

.question {
    align-items: center;
    background-color: hsla(0, 0%, 100%, 0.842);
    border-radius: 10px;
    box-shadow:rgba(7, 15, 9, 0.13) 0px 7px 29px 0px;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    height: 100px;
    justify-content: center;
    margin-top: 50px;
    padding: 20px;
    text-align: center;
    width: calc(70% + 30px);

}

.answers {
    gap: 20px;
    display: flex;
    justify-content: center;
    margin-top: 10px;
    padding: 20px;
    width: 100%;
  
}

.answers li {
    align-items: center;
    background-color: hsl(0, 0%, 100%);
    border-radius: 10px;
    box-shadow: rgba(7, 15, 9, 0.13) 0px 7px 29px 0px;
    font-weight: bold;
    justify-content: space-around;
    list-style: none;
    margin: 10px;
    max-width: 600px;
    padding: 10px;
    text-align: center;
    transition-delay: 0.08s;
    width: 100%;
}

.answers li.correct-answer {
    background-color: hsl(135, 100%, 38%);
    box-shadow: rgba(14, 152, 231, 0.555) 0px 7px 29px 0px;
}

.answers li.incorrect-answer {
    background-color: hsl(0, 100%, 50%);
    box-shadow: rgba(14, 152, 231, 0.555) 0px 7px 29px 0px;
    color: white;
}

.answers li:hover {
    box-shadow: rgba(14, 231, 14, 0.555) 0px 7px 29px 0px;
    cursor: pointer;
}







li {
    cursor: pointer;
    transition: background-color 0.3s ease;
}





/* ******************* START GAME **************** */

.start-container {
    align-items: center; 
    display: flex;
    height: 100vh;
    justify-content: center; 
    position: relative; 
    width: 100vw; 
}

.start-game {
    align-items: center;
    display: flex;
    justify-content: center; 
    position: relative; 
}

.start-button {
    align-items: center;
    background-color: rgba(0, 0, 0, 0.7);
    border-radius: 10px;
    color: white;
    cursor: pointer;
    display: flex;
    font-size: 16px;
    height: 50px;
    justify-content: center;
    left: 50%; 
    position: absolute; 
    padding: 10px 20px;
    text-align: center;
    transform: translate(-50%, -50%); 
    top: 50%; 
    z-index: 5;
}


.start-button:hover {
    background-color: rgba(0, 0, 0, 0.9);
    box-shadow:rgba(0, 247, 255, 0.795) 0px 7px 29px 0px;
}


/* ******************* End GAME **************** */

.game-end-container {
    align-items: center; 
    display: flex;
    height: 100vh;
    justify-content: center; 
    margin-top: -80px;
    position: relative; 
    width: 100vw;
}

.game-ended {
    align-items: center; 
    display: flex;
    flex-direction: column;
    height: 300px;
    justify-content: center; 
    position: relative; 
    width: 400px;

}

.end-game-your-score {
    font-size: 60px;
    font-weight: bold;
    margin-top: 50px;
    color: hsl(204, 63%, 59%);
    -webkit-text-stroke: 3px rgb(33, 77, 197);
}

.High-score-number {
    align-content: center;
    animation: color-change 1s infinite;
    display: flex;
    font-size: 70px;
    font-weight: bold;
    justify-content: center;
}

@keyframes color-change {
    0% { color: hsl(207, 97%, 60%); }
    50% { color: hsl(240, 55%, 49%); }
    100% { color: hsl(189, 58%, 40%); }
  }

.play-again-button {
    background-color: rgba(0, 0, 0, 0.685);
    border-radius: 10px;
    color: white;
    padding: 5px;
    margin: 50px;

}


.play-again-button:hover {
    background-color: hsl(187, 65%, 26%);
    box-shadow:rgba(23, 100, 110, 0.384) 0px 7px 29px 0px;
    transition-delay: 0.08s;
}

.c1 {
    border: 1px solid red;
    background-color: hsla(0, 0%, 0%, 0.26);
    height: 80px;
    width: 80px;
    display: flex;
    flex-direction: column;
    margin: 50px;
}

.c2 {
    border: 1px solid green;
    height: 80px;
    width: 80px;
    margin: 70px;
}

.c3 {
    border: 1px solid orange;
    height: 80px;
    width: 80px;
    margin: 80px;
}

.c4 {
    border: 1px solid purple;
    height: 80px;
    width: 80px;
}

.containing-examples {
    display: flex;
    justify-content: space-between;
}